@charset "utf-8";
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    line-height: 1;
    color: #333;
    font-family: 'Pretendard-Regular';
}

HTML {
    font-size: 62.5%;
}

.header {
   
    position: relative;
    z-index: 3;
    
}

.header .inner {
    max-width: 1240px;
    width: calc(100% - 20px);
    height: 5vw;
    margin: 0 auto;
    background-color: #fff;

    display: flex;
    top: 0;
    left: 0;
    border: 1px solid #000;
    border-radius: 0 0 2rem 2rem;
    z-index: 999;
   
}

.header .inner .inner_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2.5%;
}

.header .inner .inner_wrap .logo {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.header .inner .inner_wrap .logo ul {
    display: flex;
    justify-content: center;
    gap: 1px;
}

.header .inner .inner_wrap .logo ul li {
    width: 1.6rem;
    height: 1.6rem;

}

.header .inner .inner_wrap .logo ul li:nth-child(1) {

    background-color: #1dc28a;
    border-radius: 0 100% 0 0;

}

.header .inner .inner_wrap .logo ul li:nth-child(2) {

    background-color: #f9dc66;
    border-radius: 0 0 100% 0;

}

.header .inner .inner_wrap .logo ul li:nth-child(3) {

    background-color: #ced2db;
    border-radius: 0 0 0 100%;

}

.header .inner .inner_wrap .logo strong {
    font-size: 1.6rem;
}

.header .inner .inner_wrap .nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 63%;
    font-size: 1.6rem;
}

.header .inner .inner_wrap .menu_bar {
    width: 1.7%;
    height: 1.25vw;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.header .inner .inner_wrap .menu_bar img {
    width: 100%;
    height: 100%;
}

.sub_menu_wrap {
    display: none;
}
.sub_menu {

    width: 100%;
    height: 60vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: start;
    z-index: 2;
    



}

.sub_menu ul {
    padding: 2.6%;
    margin-top: 100px;
    
   
}

.sub_menu ul li {
    font-size: 1.6rem;
    margin: 30px 0;
    width: 190px;
    height: 40px;
    border: 1px solid #333;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    background-color: #ced2db;
    color: #333;
    box-shadow: 2px 3px 2px 1px rgba(0, 0, 0, 1);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.sub_menu ul .li01 {
    background-color: #1dc28a;
}

.sub_menu ul .li02 {
    background-color: #f9dc66;
}

.sub_menu ul .li03 {
    background-color: #1dc28a;
}

.sub_menu ul .li04 {
    background-color: #f9dc66;
}

.sub_menu figure {
    width: 380px;
    height: 310px;
    margin: 20px;
    margin-top: 100px;
   
}

.sub_menu figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mobile_sub {
    display: none;
}
.section06 {
    margin: 150px 0;
}
.section06 .text {
    margin: 80px 100px;
}
.section06 .text h1{
    font-size: 53px;
    margin-bottom: 20px;
}
.section06 .text p{
    font-size: 32px;
}

.section06 .inner {
    max-width: 1920px;
    width: calc(100% - 200px);
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.section06 .inner .image_wrap {
    width: 386px;
    height: 520px;
}
.section06 .inner .image_wrap figure {
    width: 386px;
    height: 386px;
}
.section06 .inner .image_wrap figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section06 .inner .image_wrap .text01 {
    margin: 30px 0;
}
.section06 .inner .image_wrap .text01 span {
    padding: 7px 10px;
    background-color: #ced2db;
    border-radius: 20px;
    font-size: 18px;
    margin-bottom: 15px;    
}

.section06 .inner .image_wrap .text01 h3 {
    font-size: 21px;
    margin-top: 25px;
    line-height: 1.3;
}

footer {
    width: 100%;
    height: 40vh;
    margin: 0 auto;
    background-color: #1dc28a;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

footer .footer01 .text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
footer .footer01 {
    line-height: 3;
    
}

footer .footer01 .logo {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

footer .footer01 .logo ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

footer .footer01 .logo ul li {
    width: 1.6rem;
    height: 1.6rem;
    border: 1px solid #333;

}
footer .footer01 .logo ul li:nth-child(1) {

    background-color: #1dc28a;
    border-radius: 0 100% 0 0;

}

footer .footer01 .logo ul li:nth-child(2) {

    background-color: #f9dc66;
    border-radius: 0 0 100% 0;

}

footer .footer01 .logo ul li:nth-child(3) {

    background-color: #ced2db;
    border-radius: 0 0 0 100%;

}

footer .footer01 .logo strong {
    font-size: 24px;
}
footer .footer01 .text strong {
    font-size: 18px;
}
footer .footer01 .text p {
    font-size: 16px;
}
footer .footer01 span {
    font-size: 16px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

footer .image {
    width: 350px;
    height: 270px;
}
footer .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.sub_footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-bottom: 10px;
}

.sub_footer .image:nth-child(2) {
    background-color: #ced2db;
}
.sub_footer .image:nth-child(3) {
    background-color: #f9dc66;
}

.sub_footer .image {
    width: 33.3%;
    height: 100%;
    background-color: #1dc28a;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.sub_footer .image .text {
    padding: 114px 26px;}
.sub_footer .image .text span {
    font-size: 80px;
    
}
.sub_footer .image .text p {
    font-size: 21px;
    line-height: 1.5;
    margin-top: 26px;
    
}
.sub_footer .image figure {
    
}
.sub_footer .image figure img {}












@media screen and (max-width:960px) {
    .header .inner {
        
        width: 600px;
    }

    .header .inner .inner_wrap .nav ul {
        gap: 26%;
    }


   
    .sub_footer {
        height: 60vh;
        margin-bottom: 10px;
    }
    .sub_footer .image .text {
        padding: 70px 26px;
    }
    .sub_footer .image .text span {
        font-size: 40px;
    }

    .sub_footer .image .text p {
        font-size: 14px;
    }
    .sub_footer .image {
        height: 70%;
    }
    .sub_footer .image figure {
        width: 330px;
        height: 230px;
    }


    .sub_footer .image figure img {
        width: 100%;
        height: 100%;
    }

    
    .section06 {
         margin: 100px auto;
    }

    .section06 .inner {
        max-width: 960px;
        width: calc(100% - 150px);
        
      
    }


    .section06 .text {
    margin: 70px 80px;
}






    footer {
        gap: 0;
    }
    footer .image {
        width: 330px;
        height: 230px;
    }

    }













@media screen and (max-width:390px) {
    .sub_menu {
        display: none;
    }
    .mobile_sub {
        width: 390px;
        margin: 0 auto;
        top: 50px;
        position: fixed;
        top: 40px;
        left: 0;
        z-index: 899;
        display: block;
       }
       .mobile_sub .sub_box_wrap {
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: start;
        align-items: center;
       }
       
       .mobile_sub .sub_box_wrap .box01 {
        width: 100%;
        height: 100%;
        background-color: #1dc28a;
        border-top: 1px solid #333;
        padding: 10px;
       }
       .mobile_sub .sub_box_wrap .box02{
        width: 100%;
        height: 100%;
        
    
       }
       .mobile_sub .sub_box_wrap .box02 div {
        width: 100%;
        height: 50%;
        border-top: 1px solid #333;
        padding: 10px;
        background-color: #fff;
       }
       .mobile_sub .sub_box_wrap:nth-child(2) {
        width: 100%;
        height: 15vh;
        
       }
       .mobile_sub .sub_box_wrap:nth-child(2) .box02 div{
        
        height: 5vh;
       }
       
    
       .mobile_sub .sub_box_wrap:nth-child(2) .box01 {
        background-color: #f9dc66;
       }
       .mobile_sub .sub_box_wrap:nth-child(4) .box01 {
        background-color: #ced2db;
       }
    
    
    .header .inner .nav{
        display:  none;
    }

    .header .inner {
        max-width: 390px;
        width: calc(100% - 10px);
        border: 0;
        margin: 15px auto;
    }

    .header .inner .inner_wrap .menu_bar {
        width: 16px;
        height: 16px;
    }
   

footer {
    height: 30vh;
    margin-top: 110vh;
 }
 footer .footer01 .logo strong {
    font-size: 18px;
 }
 footer .footer01 .logo ul li {
    width: 16px;
    height: 16px;
 }
    footer .image {
        display: none;
    }

    footer .footer01 .text strong {
        display: none;
    }
    footer .footer01 .text p {
        font-size: 12px;
    }

    footer .footer01 span {
        font-size: 12px;
    }


.sub_footer {
    display: block;
    
    
}
.sub_footer .image {
    width: 100%;
    height: 94%;
}
.section06 {
    margin: 70px auto;
}

.section06 .text{
    margin: 0 20px;
}

.section06 .inner {
    max-width: 390;
    width: calc(100% - 40px);
}

.section06 .inner .image_wrap figure {
    width: 170px;
    height: 170px;
}


.section06 .inner .image_wrap {
    width: 170px;
    height: 280px;
}

.section06 .inner .image_wrap .text01 span {
    font-size: 11px;
}


.section06 .inner .image_wrap .text01 h3 {
    font-size: 13px;
}

.section06 .text h1 {
    font-size: 40px ;
}


.section06 .text p {
    font-size: 20px;
    margin-bottom: 15px;
}











}